.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: radial-gradient(green, blue);
    /* gap: 20px; */

    .mid {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        gap: 25px;
    }
}